@model ExerciseDto
@{
}


<div class="row">
    <div class="col-md-8 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">New Exercise</h2>

        <form method="post" enctype="multipart/form-data">
            <div class="row mb-3">
                <lable class="col-sm-4 col-form-label">Name</lable>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>


            <div class="row mb-3">
                <lable class="col-sm-4 col-form-label">Type</lable>
                <div class="col-sm-8">
                    <select class="form-select" asp-for="Type">
                        <option value ='Other'>Other</option>
                        <option value='Chest'>Chest</option>
                        <option value='Legs'>Legs</option>
                        <option value='Arms'>Arms</option>
                        <option value='Back'>Back</option>
                        <option value='Shoulders'>Shoulders</option>
                    </select>
                </div>
            </div>


            <div class="row mb-3">
                <lable class="col-sm-4 col-form-label">Set</lable>
                <div class="col-sm-8">
                    <textarea class="form-control" asp-for="Set"></textarea>
                    <span asp-validation-for="Set" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <lable class="col-sm-4 col-form-label">Rep</lable>
                <div class="col-sm-8">
                    <textarea class="form-control" asp-for="Rep"></textarea>
                    <span asp-validation-for="Rep" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <lable class="col-sm-4 col-form-label">Description</lable>
                <div class="col-sm-8">
                    <textarea class="form-control" asp-for="Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <lable class="col-sm-4 col-form-label">Image</lable>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="ImageFile">
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
            </div>


            <div class="row">
                <div class="offset-sm-4 col-sm-4 d-grid">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div> 
                <div class="col-sm-4 d-grid">
                    <a class="btn btn-outline-primary" asp-controller="Exercises" asp-action="Index" role="button">
                        Cancel
                    </a>
                </div>



            </div>


        </form>

    </div>
</div>
